.footer{
    padding: 24px 0;

    &.footer-default{
        background-color: #f2f2f2;
    }

    nav{
        color: white;
        font-size: $font-size-small;
        line-height: 1.8;
        display: inline-block;
        float: left;
        padding-left: 7px;
        ul{
            margin-bottom: 0;
            padding: 0;
            list-style: none;
    
            li{
                display: inline-block;
    
                a{
                    color: #f96332;
                    font-size: 12px;
                    padding: $padding-base-vertical;
                    text-transform: uppercase;
                    text-decoration: none;
    
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    
    }

    
    &.fixed-bottom{
      width: calc(100% - 80px);
      margin-left: auto;
    }

    .copyright{
        font-size: $font-size-small;
        line-height: 1.8;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}
