.Page {
	text-align: center;
	background: url("../Assets/back1.png");
	background-size: cover;
	min-height: 100vh;
	min-width: 100vw;
	padding-top: 50px;
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	padding-bottom: 20px;
}
