body {
  margin: 0;
  font-family: 'C&L';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face
{
  font-family: 'C&L';
  src: local('C&L'), url('../src/assets/fonts/Champagne\ &\ Limousines\ Bold.ttf');
}